header{
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    background-color: #f5f5f5;
    z-index: 10;
    -webkit-box-shadow: rgba(0,0,0,.1) 0 1px 5px;
    -moz-box-shadow: rgba(0,0,0,.1) 0 1px 5px;
    box-shadow: rgba(0,0,0,.1) 0 1px 5px;
}
.lay-top-menu-con{
    height: inherit;
    width: 100%;
    position: relative;
}
.lay-content{
    margin-left:45px;
    margin-right:45px;
    height: inherit;
}
.lay-logo,.lay-menu{
    float: left;
}
.lay-logo{
    height: 2em;
    margin: 1em 1em 0;
    vertical-align: middle;
}
.lay-menu li{
    cursor: pointer;
    float: left;
    line-height: 4em;
    padding:0 1em;
}
.lay-menu a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
}
.lay-icon-menu{
    float: right;
}
.lay-icon-menu li{
    position: relative;
    cursor: pointer;
    font-size: 24px;
    line-height: 2em;/*伪类不是定位的所以他也占了高度，给4em的话就变成两份高度了，所以给2*/
    display: inline-block;
    padding:0 1em;
    color: #666;
    -webkit-transition: .1s ease-in-out;
    -moz-transition: .1s ease-in-out;
    -ms-transition: .1s ease-in-out;
    -o-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
.lay-icon-menu li.icon-caidan{
    display: none;
}
.lay-red-circle{
    background-color: #FF4000;
    border-radius: 50%;
    width:16px;
    height: 16px;
    font-size: 12px;
    position: absolute;
    top:5px;
    right: 20px;
    line-height: 16px;
    text-align: center;
    color: #fff;
}

/*下拉菜单开始*/
.lay-back-menu{
    width:100%;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    padding-top:4em;
    z-index: 11;
}
.lay-back-menu li{
    width: 100%;
    height: 8em;
    background-color: #fff;
    position: relative;
}
.lay-search{
    position: absolute;
    top:0;
    right: 0;
    left:0;
    bottom:0;
    margin:auto;
    width:50%;
    height: 4em;
}
.lay-search input{
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border:none;
    line-height: 1.5;
    padding:1em;
    float: left;
}
.lay-search-input{
    width: 75%;
}
.lay-search-button{
    width:16%;
    background: url(../images/search-btn.png) no-repeat #999;
    background-position: center center;
}

.lay-sign{
    position: absolute;
    top:0;
    right: 0;
    left:0;
    bottom:0;
    margin:auto;
    width:90%;
    height: 4em;
    line-height: 4em;
    text-align: center;
}
.lay-sign input{
    padding:.5em;
    margin:0 .5em;
    border:1px solid #E1E1E1;
    border-radius: 4px;
}
.lay-sign input.lay-sign-btn{
    line-height: 2em;
    padding:0 1em;
    border:none;
    background-color: #09d;
    color: #fff;
}
.lay-sign label{
    font-size: 1.2em;
    color: #999;
}
.lay-sign input.lay-sign-btn:hover{
    background-color: #3df;
}
.lay-register{
    display: inline;
    color:#999;
}
.lay-register a{
    margin:0 1em;
}
/*下拉菜单结束*/
.lay-banner{
    width: 100%;
}
.lay-center-img-con{
    width: 100%;
}
.lay-center-img-con img{
    width: 100%;
}
.lay-index-title-con,.lay-pro-con{
    background: #fff;
}
.lay-pro-con{
    padding: 1%;
}
.lay-index-title-con{
    border-bottom: 1px solid #E1E1E1;
    position: relative;
}
.lay-index-title{
    color: #333;
    font-size: 1.5em;
    line-height: 3;
    padding-left: 0.5em;
}
.lay-index-more-con{
    position: absolute;
    right: 10px;
    bottom:1em;
}
.lay-index-more-con a{
    margin-left: 1em;
}
.lay-pro-con li{
    float: left;
    width:20%;
    padding:1%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.lay-pro-con a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.lay-pro-con img{
    width: 100%;
    vertical-align: top;
}
.lay-index-pro-name{
    color:#333;
    line-height: 2.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}
.lay-index-pro-price-now{
    color: #FF4000;
    margin-right: 6px;
}
.lay-index-pro-price-before{
    color:#999;
    text-decoration: line-through;
}





footer{
    text-align: center;
    line-height: 4em;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #E1E1E1;
}

/*详情页开始*/
.lay-main-content{
    background-color: #fff;
    padding:45px;
    margin-top:45px;
    margin-bottom:45px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.lay-product-con,.lay-pro-detailcon,.lay-pro-advercon{
    display: inline-block;
    vertical-align: top;
}
.lay-product-con{
    width: 35%;
}
.lay-product-con img{
    width: 100%;
}
.lay-product-scale{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.lay-product-scale li{
    width: 25%;
    float: left;
    padding:1%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:1px solid transparent;
}
.lay-product-scale li.current{
    border:1px solid #ccc;
}
.lay-product-scale img{
    width: 100%;
}
.lay-pro-detailcon{
    width: 50%;
    vertical-align: top;
    padding: 0 2%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    overflow: hidden;
}
.lay-product-title{
    color: #999;
    width: 100%;
    word-break:break-word;
}
.lay-heading{
    font-size: 2em;
    color: #333;
}
.lay-star li{
    color:#F90;
    float: left;
}
.lay-product-price{
    font-weight: bold;
    font-size: 14px;
    color: #333;
}
.lay-product-color-con,.lay-product-count-con{
    padding: 2%;
}
.lay-product-color-title,.lay-product-count-title{
    vertical-align: middle;
    color: #f90;
    width: 20%;
    display: inline-block;
}
.lay-product-color{
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}
.lay-product-color li{
    float: left;
    width: 20%;
    margin:1%;
    border: 2px solid transparent;
    padding:1px;
}
.lay-product-color li.current{
    border: 2px solid #F40;
}
.lay-product-color img{
    width: 100%;
}
.lay-product-count,.lay-product-count-btn{
    display: inline-block;
    vertical-align: middle;
    word-break: break-all;
}
.lay-product-count-input{
    border:1px solid #E1E1E1;
    width: 4em;
    padding:3%;
}
.lay-product-count{
    width: 60%;
}
/*.lay-product-count-title,.lay-product-count{
    height: 2em;
    line-height: 2em;
}*/
.lay-product-stock{
    word-break:break-all;
    display: inline-block;
    margin-left: 20px;
}
.lay-product-buy-btn{
    width: 80%;
    margin-left: 10%;
}
.lay-product-buy-btn a{
    width:46%;
    display: inline-block;
    border:1px solid #F40;
    line-height: 3em;
    font-size:14px;
    text-align: center;
}
.bdshare-button-style0-16 {
    zoom: 1;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}
.lay-head-width-260{
    width:260px;
}
.lay-buynow{
    background-color: #fff3da;
    color: #FF4000;
}
.lay-product-buy-btn a.lay-head-buynow{
    width: 80px;
    line-height: 24px;
}
.lay-product-buy-btn a.lay-head-addtocart{
    width:120px;
    line-height: 24px;
}
.lay-addtocart{
    background-color: #FF4000;
    color: #fff;
}
.lay-addtocart .icon-gouwuche{
    margin-right: 6px;
}
.lay-buynow:hover{
    color:#FF4000;
}
.lay-addtocart:hover{
    color:#fff;
}
.lay-pro-advercon{
    width: 14%;
    border:1px solid #E1E1E1;
    padding: 1%;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.lay-pro-advercon dt{
    width: 50%;
    margin:auto;
    background-color: #fff;
    color:#fff3da;
    transform: translateY(-26px);
    text-align: center;
}
.lay-pro-advercon dd{
    width: 100%;
    padding: 1%;
    position: relative;
}
.lay-pro-advercon img{
    width: 100%;
}
.lay-pro-advercon p{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.6);
    height: 2em;
    line-height: 2em;
    text-align: center;
}
.lay-package{
    border:1px solid #E1E1E1;
}
.lay-package-title li{
    float: left;
    padding: 1%;
    border-top:1px solid transparent;
    cursor:pointer;
}
.lay-package-title li.current{
    border-top:1px solid #FF4000;
    color: #FF4000;
}
.lay-package-main-list{
    width: 80%;
    float: left;
    height: 20em;
}
.lay-package-main{
    padding: 2%;
}
.lay-pmlc{
    height: 20em;
    width: 100%;
    overflow: hidden;
    display: none;
}
.lay-package-main-list li.lay-pmlc.current{
    display: block;
}
.lay-pmlc-sub{
    width: 80%;
    float: left;
    overflow: hidden;
}
.lay-pmlc-sub ul{
    width: 200%;
}
.lay-pmlc-sub li{
    width: 12.5%;
    float: left;
    height: 20em;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    text-align: center;
}
.lay-pmlc-sub img{
    width: 80%;
    vertical-align: top;
}
.lay-package-totalprice-con{
    width: 20%;
    float: right;
    margin-top: 1em;
}
.lay-package-btn{
    height: 20em;
    width:15%;
    float: right;
    position: relative;
}
.lay-package-btn i{
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    padding:2% 4%;
    border:1px solid #E1E1E1;
}
.lay-icon-up{
    top:10%;
    left:0;
}
.lay-icon-dow{
    bottom: 15%;
    left: 0;
}
.lay-pmlc-choose{
    position: relative;
    width: 80%;
    margin:10px auto 0;
}
.lay-pmlc-choose-btn{
    border-radius: 2px;
    position: absolute;
    top:0;
    left: 0;
    padding:2px;
    line-height: 1;
}
.lay-pmlc-choose-title{
    margin-left: 10%;
    text-align: center;
}
.lay-defult-choose{
    background-color: #666;
    color:#fff;
}
.lay-selected{
    background-color: #FF4000;
    color:#fff;
}
.lay-not-selected{
    background-color: #f5f5f5;
    color:#f5f5f5;
}
.lay-package-totalprice-con a{
    display: block;
    width: 50%;
    text-align: center;
    line-height: 2;
    border: 1px solid #F40;
    margin-top: 6px;
}
.lay-ptp{
    color: #FF4000;
}
.lay-ptp span{
    font-size: 16px;
    font-weight: bold;
}
.lay-package-save{
    color: #fff;
    background-color: #666;
    display: inline-block;
    padding:2px;
}
.lay-purchase span{
    text-decoration: line-through;
}
.lay-levitate li{
    border:1px solid transparent;
    position: relative;
}
.lay-levitate li.current:before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top:0;
    left:50%;
    border-top: 4px solid #FF4000;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    margin-left: -2px;
}
.lay-levitate li.current{
    border-bottom: 1px solid #fff3da;
    border-left: 1px solid #fff3da;
    border-right: 1px solid #fff3da;
}
.lay-tabs li{
    display: none;
}
.lay-tabs li.current{
    display: block;
}
.lay-detail-list{
    color: #999;
    line-height: 2;
    padding:1%;
    border: 1px solid #E1E1E1;
}
.lay-detail-list dd{
    float: left;
    width: 25%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*详情页结束*/

/*购物车开始*/
.lay-shopping-statistics{
    float: right;
    line-height: 4em;
    color: #999;
}
.lay-gotopay{
    padding:2% 10%;
    color:#fff;
    background-color: #09d;
    border-radius: 2px;
    margin:0 20px;
}
.lay-gotopay:hover{
    background-color: #3df;
    color:#fff;
}
.lay-shop-con{
    background-color: #fff;
}
.inline-block-middle{
    display: inline-block;
    vertical-align: middle;
}
.lay-shop-title{
    margin:1em 0;
}
.lay-order{
    border:1px solid #fff3da;
    border-collapse:collapse;
    width: 100%;
    margin:1em 0;
}
.lay-order td{
    padding:1%;
    vertical-align: top;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.lay-order-img{
    max-width:80px;
    width:100%; 
}
.lay-order-name{
    color: #333;
    width:200px;
}
.lay-order-description{
    color: #999;
}
.lay-order-operation{
    width:60px;
}
.lay-original-price{
    color: #999;
    text-decoration: line-through;
}
.lay-icon-btn,.lay-order-num,.lay-icon-btn{
    border-collapse: collapse;
    border-style:solid;
    border-color: #E1E1E1;
}
.lay-order-num{
    width: 4em;
    padding-left: 5px;
}
/*购物车结束*/

.lay-tag{
    display: inline-block;
    padding:.5em 2em;
    border:1px solid #E1E1E1;
    border-radius: 4px;
    margin:1em;
    cursor: pointer;
}

/*会员中心开始*/
.lay-side-menu{
    display: inline-block;
    width: 20%;
    background-color: #fff;
    padding: 45px 0;
}
.lay-sub-menu{
    padding-left: 45px;
    line-height: 2;
    font-size: 14px;
}
.lay-member-main{
    display: inline-block;
    float: right;
    vertical-align: top;
    width: 76%;
}
.lay-member-head-img-con{
    border-radius: 50%;
    overflow: hidden;
    float: left;
    border:1px solid #f5f5f5;
}
.lay-member-title-con{
    float: left;
    margin-left: 45px;
}
.lay-member-name{
    font-size: 2em;
    color:#666;
}
.lay-member-privileges{
    padding: 1em 0;
}
.lay-member-privileges-sub{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #FF4000;
    margin:1em 1em 1em 0;
    float: left;
}
.lay-member-head{
    background-color: #fff3da;
    padding:45px;
}
.lay-my-order{
    background-color: #fff;
}
.lay-my-order-title{
    float: left;
    font-size: 18px;
    color:#666;
    line-height: 2;
}
.lay-my-toall-order{
    float: right;
    line-height: 3;
}
.lay-my-order-title-con{
    border-bottom: 1px solid #e1e1e1;
    padding:10px 45px;
}
.lay-table-details{
    width: 100%;
    border-top:45px solid #fff;
    border-bottom: 45px solid #fff;
}
.lay-table-details th,.lay-table-details td{
    padding:6px;
    text-align: center;
}
.lay-sub-menu .icon{
    color:#ccc;
}
/*会员中心结束*/

/*订单中心开始*/
.lay-order-head{
    position: relative;
}
.lay-order-title{
    border-bottom: 1px solid #E1E1E1;
}
.lay-order-sub{
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding:10px 20px;
    cursor:pointer;
}
.lay-order-sub.current{
    color: #ff6900;
    border-bottom: 1px solid #ff6900;
}
.lay-order-recycle{
    position: absolute;
    top:10px;
    right: 10px;    
}
.lay-order-recycle .icon-shanchu{
    vertical-align: middle; 
}
.lay-order-search{
    padding: 10px;
    position: relative;
}
.lay-order-search input{
    border-top:1px solid #E1E1E1;
    border-bottom:1px solid #E1E1E1;
    padding: 6px;
    cursor:pointer;
}
.lay-order-search-input{    
    border-left:1px solid #E1E1E1;
    border-right:none;
    width: 400px;
}
.lay-order-search-btn{
    border-left:none;
    border-right:1px solid #E1E1E1;
    background-color: #f5f5f5;
}
.lay-order-more{
    padding:6px;
    cursor:pointer;
    color: #999;
}
.lay-order-pager{
    position: absolute;
    top:20px;
    right: 10px;
}
.lay-order-pager-up,.lay-order-pager-down{
    padding: 4px 8px;
    border-radius: 2px;
    border:1px solid #E1E1E1;
    color:#ccc;
}
.lay-order-pager-up.current,.lay-order-pager-down.current{
    color:#666;
}
.lay-no-border{
    border:none;
}
.lay-order-hr{
    border-style: ridge;
    border-color:#f5f5f5;
}
.lay-order-status{
    float: left;
    text-align: center;
    padding: 20px 45px;
}
.lay-order-status-title{
    color:#f90;
}
.lay-order-status-heading-title{
    font-size: 24px;
    color: #8c0;
}
.lay-order-status-step{
    padding: 20px 45px 20px 180px;
}
.lay-order-to-detail,.lay-order-evaluate{
    width: 90%;
    line-height: 2;
    border-radius: 2px;
    margin:10px auto;
    display: block;
}
.lay-order-to-detail{
    background-color: #fff3da;
    color: #666;
    border:1px solid transparent;
}
.lay-order-evaluate{
    border:1px solid #FF4000;
    color: #FF4000;
}
.lay-order-evaluate-con{
    margin-bottom: 2em;
}
.lay-member-grow{
    color: #f90;
}
.lay-traffic-status{
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    height: 138px;
}
.lay-traffic-status li+li{
    padding-left:200px;
    position: relative;
}
[class^="lay-traffic-status-"]{
    padding:40px 20px 20px 0;
    float: left;
    text-align: center;
}
[class^="lay-traffic-status-"] p+p{
    color: #999;
}
.lay-oss{
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.lay-oss.current{
    background-color: #8c0;
    color: #fff;
}
.lay-finish:before{
    content: '';
    display: block;
    border-bottom: 1px dashed #8c0;
    position: absolute;
    left: 0;
    top:50px;
    width: 160px;
}
.lay-finish:after{
    content: "\e62f";
    font-size: 12px;
    position: absolute;
    display: block;
    top:40px;
    left:160px;
    color:#8c0;
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lay-od{
    position: relative;
}
.lay-od-a{
    padding:10px 45px;
    border-bottom: 1px solid #E1E1E1;
}
.lay-od-left{
    float: left;
    padding: 20px 45px;
    width: 260px;
}
.lay-od-right{
    padding: 20px 45px 20px 380px;
}
.lay-od-img-con img{
    float: left;
    margin:2px;
}
.lay-border-bottom-1px{
    border-bottom: 1px solid #E1E1E1;
    margin: 0 45px;
}
.lay-od-left p{
    line-height: 2;
}
.lay-od-right li{
    padding:6px;
    position: relative;
}
.lay-od-right li span{
    padding:0 6px;
    color: #ccc;
}
.lay-od-right li:before{
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 14px;
}
.lay-od-right li.current:before{
    background-color: #FF4000;
}
.lay-od-right li.current{
    color: #FF4000;
}
.lay-od-right li.current span{
    color: #FF4000;
}
/*订单中心结束*/

/*购物车开始*/
.lay-address-title,.lay-address dd{
    padding: 8px;
}
.lay-address-title{
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}
.lay-address dd{
    position: relative;
    padding-left: 40px;
}
.lay-address .lay-pmlc-choose-btn{
    font-size: 12px;
    left:10px;
    top:10px;
}
.lay-admin-adress{
    float: right;
    padding: 8px;
    font-size: 12px;
}
.lay-cart-detail{
    width: 96%;
    margin: 2%;
}
.lay-cart-detail th{
    border-right: 1px solid transparent;
    border-bottom: 2px solid #fff3da;
    line-height: 2;
}
.lay-cart-detail td{
    border-bottom:1px solid #fff3da;
}
.lay-cart-img{
    margin:10px;
    float: left;
}
.lay-cart-name{
    padding:20px;
}
.lay-cart-submit-right{
    float: right;
    border:2px solid #FF4000;
    text-align: right;
    padding:20px;
    margin-right: 2%;
}
.lay-cart-submit-right p{
    line-height: 2;
}
.lay-big-dollar,.lay-big-money{
    font-size: 24px;
}
.lay-big-dollar{
    color:#ccc;
}
.lay-big-money{
    color:#FF4000;
}
.lay-cart-submit-btn{
    float: right;
    margin-right: 2%;
    background-color: #FF4000;
    color: #fff;
    border:none;
    padding:10px 40px;
}
/*购物车结束*/